<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dicetechnology.rnpayment">

    <application>
        <receiver android:name="com.amazon.device.iap.ResponseReceiver">
            <intent-filter>
                <action
                    android:name="com.amazon.inapp.purchasing.NOTIFY"
                    android:permission="com.amazon.inapp.purchasing.Permission.NOTIFY" />
            </intent-filter>
        </receiver>
    </application>
    <uses-permission android:name="com.android.vending.BILLING" />
</manifest>
